@font-face {
    font-family: "The Bold Font";
    src: url();
}

@font-face {
    font-family: "Soccer League";
    src: url();
}

@font-face {
    font-family: "ScolaCursive";
    src: url();
}

@font-face {
    font-family: "Odin";
    src: url();
}

@font-face {
    font-family: "Norwester";
    src: url();
}

@font-face {
    font-family: "North black";
    src: url();
}

@font-face {
    font-family: "Moon";
    src: url();
}

@font-face {
    font-family: "Lumios";
    src: url();
}

@font-face {
    font-family: "Lulu";
    src: url();
}

@font-face {
    font-family: "LoveBoris";
    src: url();
}

@font-face {
    font-family: "Learning Curve";
    src: url();
}

@font-face {
    font-family: "Kardenio";
    src: url();
}

@font-face {
    font-family: "Ikaros Sans Regular";
    src: url();
}

@font-face {
    font-family: "HWT Artz";
    src: url();
}

@font-face {
    font-family: "Helvetica";
    src: url();
}

@font-face {
    font-family: "Gunnar";
    src: url();
}

@font-face {
    font-family: "GaveCool";
    src: url();
}

@font-face {
    font-family: "Garage Gothic";
    src: url();
}

@font-face {
    font-family: "Fulbo Argenta";
    src: url();
}

@font-face {
    font-family: "Fredoka One";
    src: url();
}

@font-face {
    font-family: "Eastside Texture";
    src: url();
}

@font-face {
    font-family: "Cooper Black";
    src: url();
}

@font-face {
    font-family: "Cookie";
    src: url();
}

@font-face {
    font-family: "Chloe";
    src: url();
}

@font-face {
    font-family: "Century Gothic";
    src: url();
}

@font-face {
    font-family: "Budidaya";
    src: url();
}

@font-face {
    font-family: "Besom";
    src: url();
}

@font-face {
    font-family: "Batwan MTS";
    src: url();
}

@font-face {
    font-family: "Baskerville";
    src: url();
}

@font-face {
    font-family: "Anthology Regular";
    src: url();
}

@font-face {
    font-family: "Arial-Rounded";
    src: url();
}

@font-face {
    font-family: "Amatic";
    src: url();
}